@model ecomAdminPanel.Models.Entity.Units
@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Unit Delete Page</h2>

<div class="container">
    @using (Html.BeginForm("Delete", "Units"))
    {
        <h1></h1>
        <h4>Kaydı Silmek İstediğinize Emin Misiniz!</h4>
        <div class="form-group">
            @Html.HiddenFor(x => x.ID)
            <b>@Html.LabelFor(x => x.Unit):</b>
            @Html.DisplayFor(x => x.Unit, new { @class = "form-control" })
        </div>
        <div>
            <b>@Html.LabelFor(x => x.Explanation):</b>
            @Html.DisplayFor(x => x.Explanation, new { @class = "form-control" })
        </div>
        <div>
            <button class="btn btn-danger">Delete Unit</button>
            |<a href="/Units/Index" class="btn btn-primary">Home Page</a>
        </div>
    }

</div>

