@model ecomAdminPanel.Models.Entity.Units
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Unit Add</h2>

<div class="container">
    @using (Html.BeginForm("Save", "Units", FormMethod.Post))
    {
        <div class="form-group">
            @Html.HiddenFor(x=>x.ID)
            @Html.LabelFor(x => x.Unit)
            @Html.TextBoxFor(x => x.Unit, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.Explanation)
            @Html.TextAreaFor(x => x.Explanation, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <button class="btn btn-success">Add Unit</button>
        </div>
    }

</div>


